<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>

    <!-- REQUIRED HEADERS FOR GODOT WEB -->
    <httpProtocol>
      <customHeaders>
        <!-- Required for SharedArrayBuffer -->
        <add name="Cross-Origin-Opener-Policy" value="same-origin" />
        <add name="Cross-Origin-Embedder-Policy" value="require-corp" />

        <!-- Prevent stale service worker issues -->
        <add name="Cache-Control" value="no-cache, no-store, must-revalidate" />
        <add name="Pragma" value="no-cache" />
        <add name="Expires" value="0" />
      </customHeaders>
    </httpProtocol>

    <!-- MIME TYPES REQUIRED BY GODOT -->
    <staticContent>
      <mimeMap fileExtension=".pck" mimeType="application/octet-stream" />
<!--      <mimeMap fileExtension=".wasm" mimeType="application/wasm" /> 
      <mimeMap fileExtension=".js" mimeType="application/javascript" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
      <mimeMap fileExtension=".manifest" mimeType="application/json" />
      <mimeMap fileExtension=".import" mimeType="application/octet-stream" />
-->    </staticContent>


    <!-- Allow large files -->
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="2147483647" />
      </requestFiltering>
    </security>

  </system.webServer>
</configuration>
